# Data Preperation Program

We are going to read files from different sources and prepare the files for the actual script (The Battle of Neighborhoods Week 2.ipnyb). This is because, some of the data sources have daily quota limits , have network latencies , or need additional pre-processing to get the data ready for the actual algorthim

#### Load all necessary libraries

In [1]:
import io
import requests
import pandas as pd
import numpy as np
from requests import request
import random # library for random number generation
import json
from pandas.io.json import json_normalize

#### libraries for displaying images

In [2]:
from IPython.display import Image 
from IPython.core.display import HTML 
!conda install pip -- yes

Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - yes

Current channels:

  - https://repo.anaconda.com/pkgs/main/linux-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/free/linux-64
  - https://repo.anaconda.com/pkgs/free/noarch
  - https://repo.anaconda.com/pkgs/r/linux-64
  - https://repo.anaconda.com/pkgs/r/noarch
  - https://repo.anaconda.com/pkgs/pro/linux-64
  - https://repo.anaconda.com/pkgs/pro/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

In [3]:
!pip install geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="battle of neighbourhoods")

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/80/93/d384479da0ead712bdaf697a8399c13a9a89bd856ada5a27d462fb45e47b/geopy-1.20.0-py2.py3-none-any.whl (100kB)
     |████████████████████████████████| 102kB 2.9MB/s ta 0:00:011
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/5b/ac/4f348828091490d77899bc74e92238e2b55c59392f21948f296e94e50e2b/geographiclib-1.49.tar.gz
Building wheels for collected packages: geographiclib
  Building wheel for geographiclib (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/99/45/d1/14954797e2a976083182c2e7da9b4e924509e59b6e5c661061
Successfully built geographiclib
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.49 geopy-1.20.0

In [4]:
!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.11

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.11

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geopy-1.20.0               |             py_0          57 KB  conda-forge
    geographiclib-1.49         |             py_0          32 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          90 KB

The following NEW packages will be INSTALLED:

    geographiclib: 1.49-py_0   conda-forge
    geopy:         1.20.0-py_0 conda-forge


Downloading and Extracting Packages
geopy-1.20.0         | 57 KB     | ##################################### | 100%
geographiclib-1.49   | 32 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

#### download countries geojson file

In [ ]:
!wget --quiet https://data.cityofnewyork.us/Public-Safety/Police-Precincts/78dh-3ptz -O world_countries.json
    
print('GeoJSON file downloaded!')

world_geo = r'world_countries.json' # geojson file

# create a plain world map
world_map = folium.Map(location=[LATITUDE,LONGITUDE], zoom_start=2, tiles='Mapbox Bright')

## Prepare New York Borough & Neighbourhood data file
Input: https://cocl.us/new_york_dataset

In [5]:
def newyork_data():
    url='https://cocl.us/new_york_dataset'
    resp=requests.get(url).json()
    # all data is present in features label
    features=resp['features']
    
    # define the dataframe columns
    column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 
    # instantiate the dataframe
    new_york_df = pd.DataFrame(columns=column_names)
    
    for data in features:
        borough = data['properties']['borough'] 
        neighborhood_name = data['properties']['name']
        neighborhood_lattitude = data['geometry']['coordinates'][1]
        neighborhood_longitude = data['geometry']['coordinates'][0]
        new_york_df = new_york_df.append({'Borough': borough, 'Neighborhood': neighborhood_name, 'Latitude': neighborhood_lattitude, 'Longitude': neighborhood_longitude}, ignore_index=True)
    
    return new_york_df

In [64]:
# get new york data
new_york_df=newyork_data()
print (new_york_df.head())

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

In [65]:
print (new_york_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 4 columns):
Borough         306 non-null object
Neighborhood    306 non-null object
Latitude        306 non-null float64
Longitude       306 non-null float64
dtypes: float64(2), object(2)
memory usage: 9.7+ KB
None

In [66]:
export_csv = new_york_df.to_csv (r'newyork_borough_data.csv', index = None, header=True)

## Prepare New York Crime Data file
Input: https://data.cityofnewyork.us/resource/5uac-w243.json

In [76]:
crime_data=[]
crime_data = pd.read_json('https://data.cityofnewyork.us/resource/5uac-w243.json') 
crime_data.head(5)

,cmplnt_num,addr_pct_cd,boro_nm,cmplnt_fr_dt,cmplnt_fr_tm,cmplnt_to_dt,cmplnt_to_tm,crm_atpt_cptd_cd,jurisdiction_code,juris_desc,...,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih,loc_of_occur_desc,hadevelopt,housing_psa,station_name,transit_district,parks_nm
0,857927015,10,MANHATTAN,2019-01-29T00:00:00.000,16:37:00,2019-01-29T00:00:00.000,16:45:00,COMPLETED,0.0,N.Y. POLICE DEPT,...,12,4,10,6,NaN,NaN,NaN,NaN,NaN,NaN
1,479254687,101,QUEENS,2019-03-29T00:00:00.000,17:00:00,2019-03-29T00:00:00.000,17:10:00,COMPLETED,0.0,N.Y. POLICE DEPT,...,51,3,47,59,INSIDE,NaN,NaN,NaN,NaN,NaN
2,320007604,41,BRONX,2019-02-06T00:00:00.000,02:00:00,NaN,NaN,COMPLETED,0.0,N.Y. POLICE DEPT,...,8,5,43,24,INSIDE,NaN,NaN,NaN,NaN,NaN
3,746022144,68,BROOKLYN,2019-01-08T00:00:00.000,22:49:00,2019-01-08T00:00:00.000,22:52:00,COMPLETED,0.0,N.Y. POLICE DEPT,...,10,2,7,41,NaN,NaN,NaN,NaN,NaN,NaN
4,593941718,45,BRONX,2019-03-17T00:00:00.000,05:00:00,2019-03-17T00:00:00.000,05:20:00,COMPLETED,0.0,N.Y. POLICE DEPT,...,43,5,12,28,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
crime_data.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
cmplnt_num                     1000 non-null int64
addr_pct_cd                    1000 non-null int64
boro_nm                        995 non-null object
cmplnt_fr_dt                   1000 non-null object
cmplnt_fr_tm                   1000 non-null object
cmplnt_to_dt                   703 non-null object
cmplnt_to_tm                   704 non-null object
crm_atpt_cptd_cd               1000 non-null object
jurisdiction_code              995 non-null float64
juris_desc                     1000 non-null object
ky_cd                          1000 non-null int64
law_cat_cd                     1000 non-null object
ofns_desc                      999 non-null object
patrol_boro                    995 non-null object
pd_cd                          995 non-null float64
pd_desc                        995 non-null object
prem_typ_desc                  990 non-null object
rpt_dt                         1000 non-null object
susp_age_group                 680 non-null object
susp_race                      680 non-null object
susp_sex                       680 non-null object
vic_age_group                  1000 non-null object
vic_race                       1000 non-null object
vic_sex                        1000 non-null object
x_coord_cd                     1000 non-null int64
y_coord_cd                     1000 non-null int64
latitude                       1000 non-null float64
longitude                      1000 non-null float64
lat_lon                        1000 non-null object
:@computed_region_efsh_h5xi    1000 non-null int64
:@computed_region_f5dn_yrer    1000 non-null int64
:@computed_region_yeji_bk3q    1000 non-null int64
:@computed_region_92fq_4b7q    1000 non-null int64
:@computed_region_sbqj_enih    1000 non-null int64
loc_of_occur_desc              754 non-null object
hadevelopt                     33 non-null object
housing_psa                    39 non-null float64
station_name                   16 non-null object
transit_district               16 non-null float64
parks_nm                       1 non-null object
dtypes: float64(6), int64(10), object(24)
memory usage: 312.6+ KB

In [78]:
crime_data.head(5)
crime_data1 =[]
crime_data1 = crime_data[['addr_pct_cd','boro_nm','pd_desc','latitude','longitude']]

In [79]:
crime_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
addr_pct_cd    1000 non-null int64
boro_nm        995 non-null object
pd_desc        995 non-null object
latitude       1000 non-null float64
longitude      1000 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 39.2+ KB

In [80]:
newyork_crimes_df= crime_data1.dropna(subset=['boro_nm'])

In [81]:
newyork_crimes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995 entries, 0 to 999
Data columns (total 5 columns):
addr_pct_cd    995 non-null int64
boro_nm        995 non-null object
pd_desc        995 non-null object
latitude       995 non-null float64
longitude      995 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 46.6+ KB

In [82]:
newyork_crimes_df.columns = ['Precincts','Borough','Crime','Latitude','Longitude']
newyork_crimes_df['Borough'] = newyork_crimes_df.Borough.astype(str).str.title()
newyork_crimes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995 entries, 0 to 999
Data columns (total 5 columns):
Precincts    995 non-null int64
Borough      995 non-null object
Crime        995 non-null object
Latitude     995 non-null float64
Longitude    995 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 46.6+ KB

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [83]:
newyork_crimes_df.head()

   Precincts    Borough                           Crime   Latitude  Longitude
0         10  Manhattan        ASSAULT 2,1,UNCLASSIFIED  40.747777 -74.000398
1        101     Queens          BURGLARY,RESIDENCE,DAY  40.598538 -73.748560
2         41      Bronx    ROBBERY,BEGIN AS SHOPLIFTING  40.819886 -73.901227
3         68   Brooklyn  CONTROLLED SUBSTANCE,INTENT TO  40.624663 -73.999321
4         45      Bronx                       ASSAULT 3  40.838545 -73.844583

In [85]:
export_csv = newyork_crimes_df.to_csv (r'newyork_crime_data.csv', index = None, header=True)

## Prepare Hotels list based on selected Neighbourhood Data file
Input: selected_neighbourhoods_data. This file was prepared by processing Top 50 safe ranked neighbourhoods & Precincts that have crime count less than the mean of total crime count.

In [120]:
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 
selected_neighbourhoods_df = pd.read_csv('selected_neighbourhoods_data.csv', delimiter=',', names = column_names,header=0 )
selected_neighbourhoods_df.head()

     Borough Neighborhood   Latitude  Longitude
0      Bronx   Co-op City  40.874294 -73.829939
1      Bronx    Fieldston  40.895437 -73.905643
2      Bronx    Riverdale  40.890834 -73.912585
3      Bronx  Kingsbridge  40.881687 -73.902818
4  Manhattan  Marble Hill  40.876551 -73.910660

In [121]:
selected_neighbourhoods_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 4 columns):
Borough         127 non-null object
Neighborhood    127 non-null object
Latitude        127 non-null float64
Longitude       127 non-null float64
dtypes: float64(2), object(2)
memory usage: 4.1+ KB

In [122]:
# The code was removed by Watson Studio for sharing.

In [136]:
def get_hotels_by_borough(borough, neighbourhood,lat,lng):
    api = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'
    url = api.format(CLIENT_ID, CLIENT_SECRET, lat, lng, VERSION, RADIUS, LIMIT)

    results = requests.get(url).json()
    hotel_list_df=[]
    hotel_data=results["response"]['groups'][0]['items']
    try:
        for each_row in hotel_data:
            try:
                hotel_id=each_row['venue']['id']
                hotel_name=each_row['venue']['name']
                try:
                    hotel_category_nm=each_row['venue']['categories'][0]['name']
                    hotel_category_id=each_row['venue']['categories'][0]['id']
                except:
                    hotel_category='Category Not Available'
                hotel_lat = each_row['venue']['location']['lat']
                hotel_lng = each_row['venue']['location']['lng']
                hotel_list_df.append([borough, neighbourhood,lat,lng,hotel_id,hotel_name,hotel_category_nm,hotel_category_id,hotel_lat,hotel_lng])
            except KeyError:
                pass  

        column_names=['Borough','Neighbourhood','NeighbourhoodLat','NeighbourhoodLng','ID','Name','Category_NM','Category_ID','HotelLat','HotelLng']
        hotel_list_df = pd.DataFrame(hotel_list_df,columns=column_names)
    #    print (hotel_list_df.head())
        return hotel_list_df
    except KeyError:
        pass

In [137]:
#column_names=['Borough', 'Neighborhood', 'ID','Name','Latitude','Longtude']
column_names=['Borough','Neighbourhood','Hotel_ID','Hotel_Name','Category_NM','Category_ID','Latitude','Longtude']
hotels_ny=pd.DataFrame(columns=column_names)
count=1

# ny_list_df =selected_neighbourhoods_df[selected_neighbourhoods_df['Neighborhood']=='Co-op City'] 
# ny_list_df =new_york_df[new_york_df['Borough']=='Brooklyn']
ny_list_df =selected_neighbourhoods_df
ny_list = ny_list_df.values.tolist()

for row in ny_list:
    Borough, Neighborhood, Latitude, Longitude=row
    venues = get_hotels_by_borough(Borough,Neighborhood,Latitude,Longitude)
#    found_hotels_df=venues[venues['Category']=='Hotel']   
    found_hotels_df=venues[venues['Category_ID'].isin(['4bf58dd8d48988d1fa931735', '4bf58dd8d48988d1f8931735', '5bae9231bedf3950379f89cb', '4bf58dd8d48988d1fb931735', '4bf58dd8d48988d12f951735'])]
    print('Processed '+Borough+ ' / '+Neighborhood+ ', Hotel count: '+ str(len(found_hotels_df)))
    for each_row in found_hotels_df.values.tolist():
#        print (borough+ ' / '+neighborhood+ ' / '+ name)
        borough,neighborhood,nlat,nlng,hid, name , cat_nm, cat_id,hlat,hlng =each_row
        hotels_ny = hotels_ny.append({'Borough': borough,
                                                'Neighbourhood': neighborhood, 
                                                'Hotel_ID': hid,
                                                'Hotel_Name' : name,
                                                'Category_NM' :cat_nm,
                                                'Category_ID' : cat_id,
                                                'Latitude': hlat,
                                                'Longtude' : hlng
                                               }, ignore_index=True)
    count+=1

Processed Bronx / Co-op City, Hotel count: 1
Processed Bronx / Fieldston, Hotel count: 0
Processed Bronx / Riverdale, Hotel count: 0
Processed Bronx / Kingsbridge, Hotel count: 0
Processed Manhattan / Marble Hill, Hotel count: 0
Processed Bronx / City Island, Hotel count: 1
Processed Bronx / Throgs Neck, Hotel count: 1
Processed Bronx / Spuyten Duyvil, Hotel count: 0
Processed Bronx / Pelham Bay, Hotel count: 1
Processed Brooklyn / Bay Ridge, Hotel count: 0
Processed Brooklyn / Sunset Park, Hotel count: 0
Processed Brooklyn / Greenpoint, Hotel count: 2
Processed Brooklyn / Brighton Beach, Hotel count: 0
Processed Brooklyn / Sheepshead Bay, Hotel count: 0
Processed Brooklyn / Crown Heights, Hotel count: 0
Processed Brooklyn / Kensington, Hotel count: 0
Processed Brooklyn / Windsor Terrace, Hotel count: 0
Processed Brooklyn / Prospect Heights, Hotel count: 0
Processed Brooklyn / Williamsburg, Hotel count: 2
Processed Brooklyn / Cobble Hill, Hotel count: 2
Processed Brooklyn / Carroll Gardens, Hotel count: 1
Processed Brooklyn / Red Hook, Hotel count: 1
Processed Brooklyn / Gowanus, Hotel count: 0
Processed Brooklyn / Park Slope, Hotel count: 0
Processed Brooklyn / Canarsie, Hotel count: 0
Processed Brooklyn / Flatlands, Hotel count: 0
Processed Brooklyn / Coney Island, Hotel count: 0
Processed Brooklyn / Borough Park, Hotel count: 0
Processed Brooklyn / Midwood, Hotel count: 0
Processed Brooklyn / Prospect Park South, Hotel count: 0
Processed Brooklyn / Georgetown, Hotel count: 0
Processed Brooklyn / East Williamsburg, Hotel count: 2
Processed Manhattan / Washington Heights, Hotel count: 0
Processed Manhattan / Inwood, Hotel count: 0
Processed Manhattan / Hamilton Heights, Hotel count: 0
Processed Manhattan / Manhattanville, Hotel count: 0
Processed Manhattan / East Harlem, Hotel count: 0
Processed Manhattan / Upper West Side, Hotel count: 2
Processed Manhattan / Chelsea, Hotel count: 1
Processed Manhattan / Morningside Heights, Hotel count: 0
Processed Queens / Woodside, Hotel count: 1
Processed Queens / Elmhurst, Hotel count: 0
Processed Queens / Howard Beach, Hotel count: 0
Processed Queens / Corona, Hotel count: 0
Processed Queens / Forest Hills, Hotel count: 0
Processed Queens / Kew Gardens, Hotel count: 0
Processed Queens / Richmond Hill, Hotel count: 0
Processed Queens / Flushing, Hotel count: 0
Processed Queens / Sunnyside, Hotel count: 2
Processed Queens / Maspeth, Hotel count: 0
Processed Queens / Ridgewood, Hotel count: 0
Processed Queens / Glendale, Hotel count: 0
Processed Queens / Rego Park, Hotel count: 0
Processed Queens / Woodhaven, Hotel count: 0
Processed Queens / Ozone Park, Hotel count: 0
Processed Queens / South Ozone Park, Hotel count: 1
Processed Queens / Whitestone, Hotel count: 0
Processed Queens / Bayside, Hotel count: 0
Processed Queens / Little Neck, Hotel count: 0
Processed Queens / Douglaston, Hotel count: 0
Processed Queens / Bellerose, Hotel count: 0
Processed Queens / Kew Gardens Hills, Hotel count: 0
Processed Queens / Fresh Meadows, Hotel count: 0
Processed Queens / Briarwood, Hotel count: 0
Processed Queens / Queens Village, Hotel count: 0
Processed Queens / Springfield Gardens, Hotel count: 1
Processed Queens / Rosedale, Hotel count: 1
Processed Queens / Breezy Point, Hotel count: 0
Processed Queens / Bay Terrace, Hotel count: 0
Processed Queens / Rockaway Beach, Hotel count: 1
Processed Queens / Jamaica Estates, Hotel count: 0
Processed Queens / Belle Harbor, Hotel count: 0
Processed Queens / Rockaway Park, Hotel count: 0
Processed Staten Island / St. George, Hotel count: 0
Processed Staten Island / New Brighton, Hotel count: 0
Processed Staten Island / Stapleton, Hotel count: 0
Processed Staten Island / Rosebank, Hotel count: 0
Processed Staten Island / West Brighton, Hotel count: 0
Processed Staten Island / Grymes Hill, Hotel count: 0
Processed Staten Island / Todt Hill, Hotel count: 0
Processed Staten Island / Port Richmond, Hotel count: 0
Processed Staten Island / Mariner's Harbor, Hotel count: 1
Processed Staten Island / Port Ivory, Hotel count: 2
Processed Staten Island / Castleton Corners, Hotel count: 0
Processed Staten Island / New Springville, Hotel count: 1
Processed Staten Island / Travis, Hotel count: 2
Processed Staten Island / Oakwood, Hotel count: 0
Processed Staten Island / Eltingville, Hotel count: 0
Processed Staten Island / Annadale, Hotel count: 0
Processed Staten Island / Woodrow, Hotel count: 0
Processed Staten Island / Tompkinsville, Hotel count: 0
Processed Staten Island / Silver Lake, Hotel count: 0
Processed Staten Island / Sunnyside, Hotel count: 0
Processed Brooklyn / Ditmas Park, Hotel count: 0
Processed Staten Island / Westerleigh, Hotel count: 1
Processed Staten Island / Graniteville, Hotel count: 1
Processed Staten Island / Arlington, Hotel count: 1
Processed Staten Island / Arrochar, Hotel count: 0
Processed Staten Island / Grasmere, Hotel count: 0
Processed Staten Island / Old Town, Hotel count: 0
Processed Staten Island / Dongan Hills, Hotel count: 0
Processed Staten Island / Midland Beach, Hotel count: 0
Processed Staten Island / Grant City, Hotel count: 0
Processed Staten Island / Bay Terrace, Hotel count: 0
Processed Staten Island / Huguenot, Hotel count: 0
Processed Staten Island / Pleasant Plains, Hotel count: 0
Processed Staten Island / Charleston, Hotel count: 0
Processed Staten Island / Rossville, Hotel count: 0
Processed Staten Island / Arden Heights, Hotel count: 0
Processed Staten Island / Greenridge, Hotel count: 0
Processed Staten Island / Chelsea, Hotel count: 1
Processed Staten Island / Bloomfield, Hotel count: 1
Processed Staten Island / Bulls Head, Hotel count: 1
Processed Staten Island / Shore Acres, Hotel count: 0
Processed Staten Island / Clifton, Hotel count: 0
Processed Staten Island / Concord, Hotel count: 0
Processed Staten Island / Emerson Hill, Hotel count: 0
Processed Staten Island / Randall Manor, Hotel count: 0
Processed Staten Island / Elm Park, Hotel count: 1
Processed Brooklyn / Mill Basin, Hotel count: 0
Processed Manhattan / Turtle Bay, Hotel count: 3
Processed Queens / Sunnyside Gardens, Hotel count: 0
Processed Staten Island / Willowbrook, Hotel count: 1
Processed Staten Island / Egbertville, Hotel count: 0
Processed Queens / Middle Village, Hotel count: 0
Processed Staten Island / Prince's Bay, Hotel count: 0
Processed Staten Island / Richmond Valley, Hotel count: 0

In [138]:
print (hotels_ny.head())

    Borough Neighbourhood                  Hotel_ID  \
0     Bronx    Co-op City  54932887498ee0902b1ed511
1     Bronx   City Island  54932887498ee0902b1ed511
2     Bronx   Throgs Neck  54932887498ee0902b1ed511
3     Bronx    Pelham Bay  54932887498ee0902b1ed511
4  Brooklyn    Greenpoint  4ab04eb9f964a520fe6620e3

                                          Hotel_Name Category_NM  \
0  Residence Inn by Marriott New York The Bronx a...       Hotel
1  Residence Inn by Marriott New York The Bronx a...       Hotel
2  Residence Inn by Marriott New York The Bronx a...       Hotel
3  Residence Inn by Marriott New York The Bronx a...       Hotel
4                                   The Bowery Hotel       Hotel

                Category_ID   Latitude   Longtude
0  4bf58dd8d48988d1fa931735  40.850020 -73.842579
1  4bf58dd8d48988d1fa931735  40.850020 -73.842579
2  4bf58dd8d48988d1fa931735  40.850020 -73.842579
3  4bf58dd8d48988d1fa931735  40.850020 -73.842579
4  4bf58dd8d48988d1fa931735  40.726145 -73.991627

In [139]:
# hotels_ny = hotels_ny.drop_duplicates(subset='ID', keep='first')
hotels_ny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 8 columns):
Borough          41 non-null object
Neighbourhood    41 non-null object
Hotel_ID         41 non-null object
Hotel_Name       41 non-null object
Category_NM      41 non-null object
Category_ID      41 non-null object
Latitude         41 non-null float64
Longtude         41 non-null float64
dtypes: float64(2), object(6)
memory usage: 2.7+ KB

In [140]:
export_csv = hotels_ny.to_csv (r'newyork_hotels_data.csv', index = None, header=True)